.btn {
   min-width: 170px;
   max-width: 170px;
   min-height: 50px;
   max-height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   font: var(--font_btn);
   color: var(--color_base);
   border-radius: 55px;
   background-color: var(--color_primary);
   transition: all 0.2s linear;
   &:hover {
      background-image: linear-gradient(132deg,
       rgba(255,241,115,1) 0%, 
       rgba(252,80,139,1) 50%, 
       rgba(124,179,247,1) 100%);
   }
}

.btn--size {
   min-width: 260px;
   max-width: 260px;
   min-height: 70px;
   max-height: 70px;
}