.btn {
   display: flex;
   align-items: center;
   justify-content: center;
   min-width: 170px;
   max-width: 170px;
   min-height: 50px;
   max-height: 50px;
   color: var(--color_base);
   font: var(--font_btn);
   background-color: var(--color_primary);
   border-radius: 55px;
   transition: all 0.2s linear;

   &:hover {
      background-image: linear-gradient(
         132deg,
         rgb(255 241 115 / 100%) 0%,
         rgb(252 80 139 / 100%) 50%,
         rgb(124 179 247 / 100%) 100%
      );
   }

   &--size {
      min-width: 260px;
      max-width: 260px;
      min-height: 70px;
      max-height: 70px;
   }
}
