/* purgecss start ignore */
.header {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   padding: 20px;

   &__logo {
      min-width: 125px;
      font: 300 26px/1.45 "Inter";
      color: var(--color_primary);

      @media (min-width: 992px) {
         position: relative;
         z-index: 10;
         font: 300 30px/1.45 "Inter";
      }
   }

   &__toggler {
      position: fixed;
      right: 20px;
      z-index: 20;
      width: 43px;
      height: 43px;
      padding: 9px;
      border-radius: 50%;
      background-color: var(--color_secondary);

      @media (min-width: 992px) {
         display: none;
      }
   }

   &__togglet-icon {
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--color_primary);

      &::before,
      &::after {
         content: " ";
         display: block;
         width: 100%;
         height: 2px;
         background-color: var(--color_primary);
         transition: all 0.2s linear;
      }

      &::before {
         transform: translateY(-8px);
      }

      &::after {
         transform: translateY(6px);
      }
   }

   &__overlay {
      display: none;

      @media (min-width: 992px) {
         position: absolute;
         left: 0;
         top: 0;
         z-index: 10;
         display: block;
         width: 100%;
         height: 100%;
         opacity: 0;
         background-color: var(--color_base);
         box-shadow: rgb(0 0 0 / 0%) 0 1px 3px;
      }
   }

   &__overlay-open {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 10;
      display: block;
      width: 100vw;
      height: 100vh;
      opacity: 0.3;
      background-color: var(--color_primary);

      @media (min-width: 992px) {
         display: none;
      }
   }

   &__nav-collaps {
      position: fixed;
      right: -100%;
      top: 0;
      z-index: 10;
      display: none;
      flex-flow: column;
      width: 80%;
      padding: 95px 30px 100%;
      background-color: var(--color_base);
      gap: 100px;

      @media (min-width: 576px) {
         width: 65%;
      }

      @media (min-width: 768px) {
         width: 50%;
      }

      @media (min-width: 992px) {
         position: static;
         right: 0;
         top: 0;
         display: flex;
         flex-flow: row;
         width: 100%;
         padding: 0;
         background-color: transparent;
         gap: 0;
      }
   }

   &__nav-open {
      right: 0;
      display: flex;
   }

   &__nav-list {
      display: flex;
      flex-flow: column;
      gap: 15px;

      @media (min-width: 992px) {
         flex-flow: row;
         align-items: center;
         justify-content: center;
         width: 100%;
         gap: 30px;
      }
   }

   &__nav-link {
      font: 500 20px/1.45 "Inter";
      color: var(--color_primary);

      &:hover {
         color: var(--color_hover);
      }

      @media (min-width: 992px) {
         font: 500 16px/1.45 "Inter";
      }
   }

   &__toggler-open > &__togglet-icon::before {
      transform: translateY(0) rotate(45deg);
   }

   &__toggler-open > &__togglet-icon {
      background-color: transparent;
   }

   &__toggler-open > &__togglet-icon::after {
      transform: translateY(-2px) rotate(-45deg);
   }

   @media (min-width: 992px) {
      position: fixed;
      z-index: 100;
      justify-content: flex-start;
      padding: 20px 40px;
   }
}

/* purgecss end ignore */
