@font-face {
   font-family: "Inter";
   font-weight: 300;
   font-style: normal;
   font-display: swap;
   src:
      url("../fonts/inter-300.woff2") format("woff2"),
      url("../fonts/inter-300.woff") format("woff");
}

@font-face {
   font-family: "Inter";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
   src:
      url("../fonts/inter-regular.woff2") format("woff2"),
      url("../fonts/inter-regular.woff") format("woff");
}

@font-face {
   font-family: "Inter";
   font-weight: 500;
   font-style: normal;
   font-display: swap;
   src:
      url("../fonts/inter-500.woff2") format("woff2"),
      url("../fonts/inter-500.woff") format("woff");
}
