<footer class="footer" id="contacts">
   <div class="container">
      <div class="footer__grid-container">
         <h2 class="title-2 footer__title">Our contacts:</h2>
         <div class="footer__social-box">
            <div class="footer__social-item">
               <p class="footer__social-mesage">Telegram</p>
               <a href="https://teleg.run/adrianxme">
                  <img
                     class="footer__social-img"
                     src="/img/svg/footer_tg.svg"
                     loading="lazy"
                     alt="Telegram"
                     width="40"
                     height="40" />
               </a>
               <a class="footer__social-title" href="https://teleg.run/adrianxme">@adrianxme</a>
            </div>
            <div class="footer__social-item">
               <p class="footer__social-mesage">WhatsApp</p>
               <a href="https://wa.me/37129435255">
                  <img
                     class="footer__social-img"
                     src="/img/svg/footer__wts.svg"
                     loading="lazy"
                     alt="WhatsApp"
                     width="40"
                     height="40" />
               </a>
               <a class="footer__social-title" href="https://wa.me/37129435255">+371 29435255</a>
            </div>
            <div class="footer__social-item">
               <p class="footer__social-mesage">E-mail</p>
               <a href="mailto:adrian@sell-gen.com">
                  <img
                     class="footer__social-img"
                     src="/img/svg/footer__mail.svg"
                     loading="lazy"
                     alt="Mail"
                     width="40"
                     height="40" />
               </a>
               <a class="footer__social-title" href="mailto:adrian@sell-gen.com">adrian@sell-gen.com</a>
            </div>
         </div>
         <div class="footer__img-box">
            <img
               class="footer__img-1"
               src="/img/png/footer__hero-1.png"
               loading="lazy"
               alt="Основатель 1"
               width="96"
               height="96" />
            <img
               class="footer__img-2"
               src="/img/png/footer__hero-2.png"
               loading="lazy"
               alt="Основатель 2"
               width="96"
               height="96" />
            <div class="footer__separator"></div>
            <img
               class="footer__img-brand"
               src="/img/svg/footer__brand.svg"
               loading="lazy"
               alt="Фото бренда"
               width="75"
               height="18" />
         </div>
      </div>
   </div>
</footer>
<script src="/js/script.min.js"></script>
