<footer class="footer" id="contacts">
   <div class="container">
      <div class="footer__grid-container">
         <h2 class="title-2 footer__title">Our contacts:</h2>
         <div class="footer__social-box">
            <div class="footer__social-item">
               <p class="footer__social-mesage">Telegram</p>
               <a href="https://teleg.run/adrianxme" aria-label="Socila link btn">
                  <svg class="footer__social-img" width="40" height="40">
                     <use xlink:href="/img/svg/sprite.svg#tg"></use>
                  </svg>
               </a>
               <a class="footer__social-title" href="https://teleg.run/adrianxme">@adrianxme</a>
            </div>
            <div class="footer__social-item">
               <p class="footer__social-mesage">WhatsApp</p>
               <a href="https://wa.me/37129435255" aria-label="Socila link btn">
                  <svg class="footer__social-img" width="40" height="40">
                     <use xlink:href="/img/svg/sprite.svg#wts"></use>
                  </svg>
               </a>
               <a class="footer__social-title" href="https://wa.me/37129435255">+371 29435255</a>
            </div>
            <div class="footer__social-item">
               <p class="footer__social-mesage">E-mail</p>
               <a href="mailto:adrian@sell-gen.com" aria-label="Socila link btn">
                  <svg class="footer__social-img" width="40" height="40">
                     <use xlink:href="/img/svg/sprite.svg#mail"></use>
                  </svg>
               </a>
               <a class="footer__social-title" href="mailto:adrian@sell-gen.com">adrian@sell-gen.com</a>
            </div>
         </div>
         <div class="footer__img-box">
            <img class="footer__img-1" src="/img/png/footer__hero-1.png" loading="lazy" alt="Основатель 1" width="96" height="96" />
            <img class="footer__img-2" src="/img/png/footer__hero-2.png" loading="lazy" alt="Основатель 2" width="96" height="96" />
            <div class="footer__separator"></div>
            <svg class="footer__img-brand" width="75" height="18">
               <use xlink:href="/img/svg/sprite.svg#footer-brand"></use>
            </svg>
         </div>
      </div>
   </div>
</footer>
<script src="/js/script.min.js"></script>
