<header class="header">
   <div id="overlay" class="header__overlay"></div>
   <a class="header__logo" href="#">Sell-Gen</a>
   <button class="header__toggler" type="button" aria-label="burger">
      <span class="header__togglet-icon"></span>
   </button>
   <nav class="header__nav-collaps">
      <ul class="header__nav-list">
         <li class="header__nav-item">
            <a href="#about" class="header__nav-link">About us</a>
         </li>
         <li class="header__nav-item">
            <a href="/#principles" class="header__nav-link">Principles</a>
         </li>
         <li class="header__nav-item">
            <a href="/#strategies" class="header__nav-link">Strategies</a>
         </li>
         <li class="header__nav-item">
            <a href="/#cal" class="header__nav-link">Try us</a>
         </li>
         <li class="header__nav-item">
            <a href="/#contacts" class="header__nav-link">Contacts</a>
         </li>
      </ul>
      <a href="#cal" class="btn">Request a call</a>
   </nav>
</header>
