.section-3 {
   padding: 80px 20px;

   &__grid-container {
      @media (min-width: 992px) {
         display: grid;
         grid-column: repeat(2, 1fr);
         grid-row: 72px auto;
         grid-template-areas:
            "title img"
            "bullet img";
         gap: 20px;
      }
   }

   &__title {
      max-width: 460px;
      margin: 0 auto;
      margin-bottom: 20px;

      @media (min-width: 768px) {
         max-width: 560px;
      }

      @media (min-width: 992px) {
         grid-area: title;
         max-width: none;
         margin: 0 0 20px;
      }
   }

   &__bullet-box {
      @media (min-width: 992px) {
         grid-area: bullet;
      }
   }

   &__bullet-list {
      max-width: 460px;
      margin: 0 auto;

      @media (min-width: 768px) {
         max-width: 560px;
      }

      @media (min-width: 1200px) {
         max-width: 100%;
         margin: 0;
      }
   }

   &__bullet-separator-box {
      max-width: 460px;
      margin: 30px auto;

      @media (min-width: 768px) {
         max-width: 560px;
      }

      @media (min-width: 992px) {
         grid-area: separator;
         max-width: 640px;
      }
   }

   &__bullet-separator {
      display: block;
      width: 100px;
      height: 1px;
      background-color: var(--color_primary);
   }

   &__img-box {
      position: relative;
      height: clamp(20.93rem, 7.6062rem + 62.7vw, 27.2rem);
      max-width: 460px;
      margin: 0 auto;
      padding-top: 50px;

      @media (min-width: 768px) {
         height: 500px;
         max-width: 560px;
      }

      @media (min-width: 992px) {
         grid-area: img;
         height: clamp(29.37rem, 8.4808rem + 33.6923vw, 33.75rem);
         max-width: 100%;
         margin: 0;
         padding-top: 0;
      }

      @media (min-width: 1400px) {
         height: 620px;
      }
   }

   &__img-1 {
      width: calc(50% - 10px);
      height: auto;
      border: 1px solid var(--color_primary);
      border-radius: 22px;

      @media (min-width: 1200px) {
         width: calc(50% - 20px);
      }
   }

   &__img-2 {
      position: absolute;
      right: 0;
      top: 160px;
      width: calc(50% - 10px);
      height: auto;
      border: 1px solid var(--color_primary);
      border-radius: 22px;

      @media (min-width: 992px) {
         top: 200px;
      }

      @media (min-width: 1200px) {
         width: calc(50% - 20px);
      }

      @media (min-width: 1400px) {
         top: 240px;
      }
   }

   &__img-elipse {
      position: absolute;
      left: calc(50% - 50px);
      top: calc(50% - 10px);
      animation: elipse 9s linear infinite;

      @media (min-width: 576px) {
         width: 150px;
         height: 150px;
      }

      @media (min-width: 992px) {
         left: calc(50% - 80px);
         top: calc(50% - 80px);
         width: 160px;
         height: 160px;
      }

      @media (min-width: 1400px) {
         left: calc(50% - 90px);
         top: calc(50% - 90px);
         width: 180px;
         height: 180px;
      }
   }

   &__img-brand {
      position: absolute;
      bottom: 0;

      @media (min-width: 576px) {
         width: 140px;
         height: 32px;
      }

      @media (min-width: 768px) {
         width: 160px;
         height: 38px;
      }

      @media (min-width: 992px) {
         bottom: 40px;
      }

      @media (min-width: 1400px) {
         width: 190px;
         height: 45px;
      }
   }

   @media (min-width: 576px) {
      padding: 120px 20px;
   }

   @media (min-width: 992px) {
      padding: 140px 50px 180px;
   }

   @media (min-width: 1200px) {
      padding: 160px 50px;
   }
}

@keyframes elipse {
   100% {
      transform: rotate(-360deg);
   }
}
