.section-8 {
   overflow: hidden;
   position: relative;
   padding: 80px 20px;
   background-image: linear-gradient(to right, rgb(210 230 255 / 20%) 40%, rgb(255 211 226 / 20%) 100%);

   &__title {
      max-width: 460px;
      margin: 0 auto 30px;
      text-align: center;

      @media (min-width: 768px) {
         max-width: 560px;
      }

      @media (min-width: 992px) {
         max-width: 640px;
         margin: 0 auto 50px;
      }
   }

   &__bullet-list {
      max-width: 460px;
      margin: 0 auto;

      @media (min-width: 768px) {
         max-width: 560px;
      }

      @media (min-width: 992px) {
         max-width: 640px;
      }
   }

   &__bullet-item {
      justify-items: flex-start;

      & svg {
         min-width: 25px;
      }

      @media (min-width: 992px) {
         font-size: 22px;
      }

      @media (min-width: 1200px) {
         font-size: 24px;
      }
   }

   &__bg {
      position: absolute;
      left: -200px;
      bottom: -200px;
      z-index: -1;
      opacity: 0.8;
   }

   @media (min-width: 768px) {
      padding: 100px 20px;
   }

   @media (min-width: 992px) {
      padding: 180px 20px;
   }

   @media (min-width: 1200px) {
      padding: 220px 0;
   }
}
