.section-16 {
   overflow-x: hidden;
   display: flex;
   align-items: center;
   background-image: linear-gradient(to right, rgb(210 230 255 / 10%) 40%, rgb(255 211 226 / 10%) 100%);
   background-color: var(--color_secondary);
}
