.section-7 {
   background-image: linear-gradient(to right, rgb(210 230 255 / 20%) 40%, rgb(255 211 226 / 20%) 100%);

   &__grid-container {
      position: relative;
      padding: 60px 20px;
      border-radius: 28px;
      background-color: var(--color_primary);

      @media (min-width: 992px) {
         display: grid;
         grid-column-gap: 30px;
         grid-template-areas:
            "title img"
            "box_1 box_2";
         grid-template-columns: 1fr 1fr;
         padding: 80px 50px;
      }

      @media (min-width: 1200px) {
         padding: 100px 50px;
      }
   }

   &__title {
      max-width: 460px;
      margin: 0 auto 50px;
      color: var(--color_base);

      @media (min-width: 768px) {
         max-width: 560px;
      }

      @media (min-width: 992px) {
         grid-area: title;
         max-width: 640px;
         margin: 0 0 50px;
      }
   }

   &__bullet-box-1 {
      max-width: 460px;
      margin: 0 auto 30px;

      @media (min-width: 768px) {
         max-width: 560px;
      }

      @media (min-width: 992px) {
         grid-area: box_1;
         margin: 0 0 30px;
      }
   }

   &__bullet-box-2 {
      max-width: 460px;
      margin: 0 auto;

      @media (min-width: 768px) {
         max-width: 560px;
      }

      @media (min-width: 992px) {
         grid-area: box_2;
         margin: 0;
      }
   }

   &__bullet-title {
      margin-bottom: 20px;
   }

   &__mark {
      color: var(--color_base);
   }

   &__bullet-item {
      color: var(--color_base);

      & svg {
         min-width: 20px;
      }
   }

   &__img-stars {
      position: absolute;
      right: 10px;
      top: 100px;
      transform: rotate(150deg);

      @media (min-width: 576px) {
         right: 20px;
         top: 50px;
      }

      @media (min-width: 768px) {
         right: 80px;
         top: 50px;
         width: 150px;
         height: auto;
         transform: rotate(25deg);
      }

      @media (min-width: 992px) {
         top: 20px;
         grid-area: img;
         width: 180px;
      }
   }
}
