.section-6 {
   padding: 60px 20px 80px 20px;
   contain: layout paint;
   content-visibility: auto;
   background-image: linear-gradient(to right, rgb(210, 230, 255, 0.2) 40%, rgb(255, 211, 226, 0.2) 100%);
   @media (min-width: 768px) {
      padding: 80px 20px 100px 20px;
   }
   @media (min-width: 1200px) {
      padding: 80px 20px 120px 20px;
   }
   @media (min-width: 1400px) {
      padding: 80px 20px 160px 20px;
   }

   &__subtitle {
      max-width: 460px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 30px;
      @media (min-width: 768px) {
         max-width: 560px;
      }
      @media (min-width: 992px) {
         max-width: 860px;
      }
      @media (min-width: 1200px) {
         margin-bottom: 50px;
         max-width: 920px;
      }
   }
   &__btn {
      margin: 0 auto;
   }
}